*{
    margin:0;
    padding:0;
}
body{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.button{
    display: flex;
    justify-content: center;
}
button{
    margin: 5px;
}
h1{
    font-size: xx-large;
    text-align: center;
    margin: 25px 0 25px 0;
}
p{
    text-align: center;
    margin: 25px 0 25px 0;
}